//VARIABLES
$beige: #F0E7AE;
$verde: #8EC245;
$blanco: #F4F2F2;
$rosado: #ED9EA3;
$gris: #3B3B3B;
$gris-claro: #616161;
$font: 'Raleway', sans-serif;


//MEDIDAS Y VALORES PARA ELEMENTOS QUE SE REPITEN
.fondo{  //Imagenes de background
	background-size: 100%;
	background-repeat: no-repeat;
	padding-top: 3%;
}
.logo{ //logo "tealeaf"
	margin-top: -2%;
	margin-left: 5%;
}
p, 
h1, 
h2, 
h3{
	font-family: $font;
}

//DIVS RESPONSIVE
.div-height{
	height: 100px;
}
.div1-responsive{
	@extend .div-height;
	background-color: $verde;
}
.div2-responsive{
	@extend .div-height;
	background-color: $beige;
}
.div3-responsive{
	@extend .div-height;
	background-color: $rosado;
}


//HEADER
header{
	@extend .fondo;
	background-image: url("../img/parallax-1.png");  
}
.logo-animado{
	height: 350px;
	padding-bottom: 5%;
}
.scroll{
	height: 110px;
	padding-top: 4%;
}
.arrow{
    margin-left: 49.3%;
    padding-top: 3%;
    padding-bottom: 3%;
}

//VIDEO


//SECCION 1
.nuestra{
	@extend .fondo;
	background-image: url("../img/parallax-3.png");  
}
h2{
	font-weight: bold;
	font-size: 450%;
	color: $blanco;
	padding-top: 7%;
}
.descripcion{
	font-size: 155%;
	color: $blanco;
	margin-top: -1%;
	padding-left: 35%;
	padding-bottom: 10%;
}

//SECCION 2
.rosado{
	color: $rosado;
	font-weight: bold;
	font-size: 250%;
}
.descripcion-2{
	font-size: 110%;
}
.margen{
	margin-top: 5%;
	margin-bottom: 5%;
}
.margen-texto{
	padding-left: 4%;
	padding-right: 4%;
}

//SECCIÓN 3
.foto1{
	position: relative;
}
.foto2{
    margin-left: -9.5%;
  
}

.foto3{
    margin-left: -9%;
  
}

.foto4{
	width: 100%;
    height: 299px;
    margin-left: -2.3%;
  
}
.foto1, .foto4{
	width: 100%;
}
.foto2, .foto3{
	width: 110%;
}
.foto1, .foto2, .foto3, .foto4{
	z-index: 1;
}

//SECCION 4
.position{
	position: absolute;
}
.relative{
	position: relative;
}
.preguntas{
	@extend .fondo;
    background-image: url("../img/parallax-2.png");
}
.titulo-4{
	margin-top: 10%;
	padding-left: 35%;
	padding-bottom: 30%;
}

//SECCION 5
.medidas-fotos{
	padding-left: 12%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.icon1{
	@extend .medidas-fotos;
	background-color: $beige;
}
.icon2{
	@extend .medidas-fotos;
	background-color: $verde;
}
.icon3{
	@extend .medidas-fotos;
	background-color: $rosado;
}
.texto{
	padding-top: 7%;
	padding-right: 25%;
	padding-left: 25%;
}
.parrafo{
	@extend .texto;
	padding-bottom: 10%;
}
.lista{
	padding-bottom: 10%;
}

//SECCION 6
.campos{
	@extend .fondo;
	background-image: url("../img/parallax-4.png");
}
.los-campos{
	padding-bottom: 25%;
}

//SECCION 7 (SLIDES)
.slides-padding{
	padding-left: 1.1%;
}

//SECCION 8
.amamos{
	font-weight: bold;
}
hr{
	background-color: #000;
	width: 13%;
	height: 4px;
	border-style: 2px solid black;
	margin-left: -0.5%;
}
.top{
    padding-top: 12%;
}
.flechas{
	text-decoration: none;
}

//FOOTER
footer{
	background-color: $gris;
}
.logo-footer{
	margin-top: 4%;
	margin-left: 20%;
	margin-bottom: 4%;
}

.gris-claro{
	color: $gris-claro;
	font-weight: bold;
	margin-top: 7%;
}